<!-- Bootstrap test -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <h2>Admin Panel<br>
          <small>For my eyes only</small>
        </h2>
      </div>      
    </div>
  </div>
</div>

<!-- User Listing -->
<div class="container">
  <div class="page-header">
    <h2>User List</h2>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>User Image</th>
        <th>Join Date</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td>Batman</td>
        <td>bruce@gotham.com</td>
        <td>iamthenight</td>
        <td><img src=""></td>
        <td>2017-01-01</td>
        <td>M</td>
      </tr>
      <tr ng-repeat="user in ctrl.users" ng-click="ctrl.editUser(user.user_id)">
        <td>{{user.user_id}}</td>
        <td>{{user.user_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>{{user.user_image}}</td>
        <td>{{user.join_date}}</td>
        <td>{{user.gender}}</td>
      </tr>
    </tbody>
  </table>


</div>