<!-- Bootstrap test OK -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <h2>Front Page<br>
          <small>Where all of today's the most viral images are presented</small>
        </h2>
      </div>
    </div>
  </div>
</div>