<!-- Bootstrap test OK -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <h2>Post New<br>
          <small>Just a test</small>
        </h2>
      </div>
    </div>
  </div>
</div>